kakao:
  client-id: YOUR_KAKAO_REST_API_KEY
  client-secret: YOUR_KAKAO_CLIENT_SECRET
  redirect-uri: http://localhost:8080/api/auth/kakao/callback

jwt:
  secret: CHANGE_ME_RANDOM_SECRET_AT_LEAST_32_BYTES
